# Algemene bestanden
.DS_Store
Thumbs.db
*.log
*.env
*.local
*.pem
*.key
*.crt

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Frontend (Next.js)
.next/
out/
build/
coverage/

# Backend (Prisma)
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Vercel
.vercel/

# IDE-specifieke bestanden
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git-specifieke bestanden
*.orig